<div class="contents row">
  <div class="contents-title">
    <h1>うちの子の記録</h1>
  </div>
  <div class="container">
    <h2>新規登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, class:"user-input-field" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class:"user-input-field" %>
      </div>

      <div class="field">
        <%= f.label :パスワード（確認）%><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"user-input-field" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する", class: "user-submit" %>
      </div>
    <% end %>
  </div>
</div>